<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- https://developers.google.com/apps-script/guides/support/troubleshooting#authorization-is -->
  <p>Send image filename "{{gdriveImg}}" via Get
    <ion-button href="?value={{gdriveImg}}">
      <ion-icon name="image"></ion-icon>
      <ion-label>Add image</ion-label>
    </ion-button>
  </p>

  <h1>Angular HttpClient</h1>

  <p>Call 'getGScript() to add Google logo'
    <ion-button (click)="getGScript()">
      <ion-icon name="image"></ion-icon>
      <ion-label>Add image</ion-label>
    </ion-button>
  </p>

  <!-- https://ionicframework.com/docs/api/grid -->
  <ion-grid>
    <ion-row>
      
      <ion-col>
        <h4 style="text-align: center; text-decoration: underline;">Get "{{gdriveImg}}" img</h4>
        <p class="center">
          <ion-button (click)="getGDriveImg(gdriveImg, 'imgBase64Src1')">
            <ion-icon name="image"></ion-icon>
            <ion-label>Add image</ion-label>
          </ion-button>
          <br>

          <!-- DOES NOT SCALE WITH BASE64 IMG SIZE
          <ion-img [src]="imgBase64Src"></ion-img>
          -->

          {{dtg1}}
          <!--
          <br>
          {{dtg2}}
          -->
          <br>
          <!-- <img [src]="imgBase64Src"> does the same thing -->
          <img src={{imgBase64Src1}}>

        </p>
      </ion-col>

      <!-- https://ionic.io/ionicons -->
      <ion-col>
        <h4 style="text-align: center; text-decoration: underline;">Get Colab service</h4>
        <p class="center">
          <ion-button (click)="getColabService()">
            <ion-icon name="american-football-outline"></ion-icon>
            <ion-label>Get service</ion-label>
          </ion-button>

          <br>
          {{dtg3}}
          <br>
          <img src={{imgBase64Src2}}>

          <!--
          <ion-button (click)="recordTime()">
            <ion-icon name="alarm-outline"></ion-icon>
            <ion-label >Stop clock</ion-label>
          </ion-button>
          -->

        </p>
      </ion-col>

    </ion-row>
  </ion-grid>

  <!-- <div [innerHTML]="gdriveImg"></div> -->

  <h1>JS fetch() + Promise cascade</h1>

  <ion-list>
    <ion-label>Add image to sheet via JS fetch(method: "POST", ) in 'sendFilenameToGScript()'</ion-label>
    <ion-item>
      <ion-label>Filename</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="filename">
        <ion-select-option *ngFor="let filename of fileList;" [value]="filename">

          <!-- https://angular.dev/guide/templates/binding#render-dynamic-text-with-text-interpolation, 
            "You can bind dynamic text in templates with double curly braces, which tells Angular that it is responsible for the 
            expression inside and ensuring it is updated correctly. This is called text interpolation." 
            -->
            {{filename}}

        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  
  <p class="center">
    <ion-button (click)="sendFilenameToGScript()">
      <ion-icon name="image"></ion-icon>
      <ion-label >Add image</ion-label>
    </ion-button>
  </p>

</ion-content>
